
@{
    ViewBag.Title = "Banks";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}




<div class="content-wrapper" style="margin:10px !important;">
    <section class="content">
        <div class="container-fluid" ng-app="Bank" ng-controller="BankData">
            <div class="modal fade" id="detailsView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 1200px !important">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{nameb}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group" style="margin-bottom:10px !important">
                                <span class="input-group-text">Bank Name</span>
                                <input type="hidden" value="{{}}" />
                                <input type="text" required ng-model="updatebankName" class="form-control" />
                            </div>
                            <div class="input-group" style="margin-bottom:10px !important">
                                <span class="input-group-text">Bank Code</span>
                                <input type="text" required ng-model="updatebankCode" class="form-control" />
                            </div>
                            <div class="input-group" style="margin-bottom:10px !important">
                                <span class="input-group-text">Bank Alias</span>
                                <input type="text" required ng-model="updatebankAlias" class="form-control" />
                            </div>
                            <div class="input-group" style="margin-bottom:10px !important">
                                <span class="input-group-text">Bank Status</span>
                                <select class="form-control" required ng-model="updatebankStatus">
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                            </div>
                            <div class="input-group">

                                <button class="btn btn-success" ng-click="UpdateBank()">{{btnUpdate}}</button>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="failed">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            <div class="accordion" id="manageBanks">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title"><strong><i class="fas fa-cogs"></i>&nbsp;Banks</strong></h6>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Add New Bank
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#manageBanks">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-body">
                                    <div class="input-group" style="margin-bottom:10px !important">

                                        <span class="input-group-text">Bank Name</span>

                                        <input type="text" required name="bankName" ng-model="details.bankName" class="form-control" />
                                    </div>
                                    <div class="input-group" style="margin-bottom:10px !important">

                                        <span class="input-group-text">Bank Code</span>

                                        <input type="text" required name="bankCode" ng-model="details.bankCode" class="form-control" />
                                    </div>
                                    <div class="input-group" style="margin-bottom:10px !important">

                                        <span class="input-group-text">Bank Alias</span>

                                        <input type="text" required name="bankAlias" ng-model="details.bankAlias" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-success" ng-click="AddBank(details)">{{btnAdd}}</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--List of banks-->
                <div class="card">
                    <div class="card-header" id="headingOne">

                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Available Banks
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#manageBanks">
                        <div class="card-body">

                            <table class="table table-bordered" id="bankTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Bank Code</th>
                                        <th>Bank Name</th>
                                        <th>Bank Alias</th>
                                        <th>Date Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in myData">
                                        <td></td>
                                        <td>{{x.code}}</td>
                                        <td>{{x.name}}</td>
                                        <td>{{x.alias}}</td>
                                        <td>{{x.dateCreated}}</td>
                                        <td><a style="text-decoration:none; color:black !important" ng-click="openModal(x.name)" data-toggle="modal" data-target="#detailsView"><strong><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;View/Edit</strong></a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Bank Code</th>
                                        <th>Bank Name</th>
                                        <th>Date Created</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        $('#bankTable').DataTable();
    });
</script>
<script>
    var app = angular.module("Bank", []);
    app.controller("BankData", ['$scope', '$http', function ($scope, $http) {
        $scope.Page = "Banks";
        $scope.success = false;
        $scope.failed = false;
        $scope.btnAdd = "Add Bank";
        $scope.btnUpdate = "Update Bank";
        $scope.message = "";
        $scope.display = "show";
        loadBanks();
        $scope.openModal = function (name) {

            $scope.updatebankName = name;
            $scope.blackout = true;
            $scope.success = false;
            $scope.failed = false;
            var d = {
                bankCode: $scope.bankCode,

            };
            $http({
                method: 'POST',
                url: 'https://tpms.ipsl.co.ke:4433/TransMonAPI/api/BankDetails',
                data: $.param(user),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                withCredentials: false,
            }).then(function successCallback(response) {
                // alert(response.data.responseCode);
                if (response.data.responseCode == "00") {
                    $scope.updatebankCode = response.data.bankCode;
                    updatebankAlias = response.data.bankAlias;
                    updatebankName = response.data.bankName;
                    updatebankStatus = response.data.active
                    $scope.success = true;
                    $scope.failed = false;

                } else {
                    $scope.success = false;
                    $scope.failed = true;

                }
                loadBanks();

            }, function errorCallback(error) {
                $scope.failed = true;
                $scope.message = error.responseText;
                loadBanks();
            });
        }
        function loadBanks() {
            //$http.post('http://localhost:57868/api/ListOfBanks2').then(function (response) {
            $http.post('https://tpms.ipsl.co.ke:4433/TransMonAPI/api/ListOfBanks').then(function (response) {

                console.log(response);
                $scope.myData = response.data;
                $scope.noOfBanks = response.data.length;
                $scope.show = false;
            }, function (error) {
                $scope.show = false;
                $scope.myWelcome = error.responseText;

            })
        }
        $scope.AddBank = function (Data) {
            $scope.blackout = true;
            $scope.success = false;
            $scope.failed = false;



            var user = {
                name: Data.bankName,
                code: Data.bankCode,
                alias:Data.bankAlias
            };


            $http({
                method: 'POST',
                //url: 'http://localhost:57868/api/AddBank',
                url: 'https://tpms.ipsl.co.ke:4433/TransMonAPI/api/AddBank',
                data: $.param(user),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                withCredentials: false,
            }).then(function successCallback(response) {
                // alert(response.data.responseCode);
                if (response.data.responseCode == "00") {
                    $scope.success = true;
                    $scope.failed = false;
                    $scope.message = response.data.responseMessage;
                    $scope.btnAdd = "Add Bank";
                    Data.bankCode = "";
                    Data.bankName = "";
                } else {
                    $scope.success = false;
                    $scope.failed = true;
                    $scope.message = response.data.responseMessage;
                    $scope.btnAdd = "Add Bank";
                    Data.bankCode = "";
                    Data.bankName = "";
                }
                loadBanks();
                $scope.display = "show";







            }, function errorCallback(response) {
                $scope.failed = true;
                $scope.message = error.responseText;
                loadBanks();
            });




        }
        
        $scope.UpdateBank = function () {
            $scope.blackout = true;
            $scope.success = false;
            $scope.failed = false;

            var details = {
                name: $scope.updatebankName,
                code: $scope.updatebankCode,
                alias: $scope.updatebankAlias,
                active: $scope.updatebankStatus
            };


            $http({
                method: 'POST',
                //url: 'http://localhost:57868/api/AddBank',
                url: 'https://tpms.ipsl.co.ke:4433/TransMonAPI/api/UpdateBank',
                data: $.param(details),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                withCredentials: false,
            }).then(function successCallback(response) {
                // alert(response.data.responseCode);
                if (response.data.responseCode == "00") {
                    $scope.success = true;
                    $scope.failed = false;
                    $scope.message = response.data.responseMessage;
                    $scope.btnUpdate = "Update Bank";
                    Data.bankCode = "";
                    Data.bankName = "";
                } else {
                    $scope.success = false;
                    $scope.failed = true;
                    $scope.message = response.data.responseMessage;
                    $scope.btnUpdate = "Update Bank";
                    Data.bankCode = "";
                    Data.bankName = "";
                }
                loadBanks();
                $scope.display = "show";
            }, function errorCallback(response) {
                $scope.failed = true;
                $scope.message = error.responseText;
                loadBanks();
            });




        }
    }])

</script>
