
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<div class="content-wrapper" style="margin:10px !important;">
    <section class="content">
        <div class="container-fluid" ng-app="ChangePassword" ng-controller="ChangePass">
            
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><strong>Change Password</strong></h6>
                </div>
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="failed">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Old Password</span>
                        
                        <input type="password" required class="form-control" ng-model="oldpassword" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">New Password</span>
                        <input type="password" required class="form-control" ng-model="newpassword" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Confirm Password</span>
                        <input type="password" required class="form-control" ng-model="confpassword" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <button class="btn btn-success" ng-click="ChangeMyPassword()">{{btnChange}}</button>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
</div>
<script>
    var app = angular.module("ChangePassword", []);
    app.controller("ChangePass", ['$scope', '$http', function ($scope, $http) {
        
        $scope.success = false;
        $scope.failed = false;
        $scope.btnChange = "Change Password";
        $scope.message = "";
        GetUser();

        function GetUser() {
          
            $http({
                method: 'POST',
                url: 'https://localhost:44373/Home/GetLoggedUser',
                // url: 'http://localhost/Home/SetUser',
                //data: $.param(users),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                withCredentials: false,
            }).then(function successCallback(response) {
                
                    $scope.email = response.data.Email;
                    
                   

                
            }, function errorCallback(response) {
                console.log(response.responseText);
            });
        }
       
        
        $scope.ChangeMyPassword = function () {
           // alert("Changing Password"+$scope.email);
            $scope.blackout = true;
            $scope.success = false;
            $scope.failed = false;
            $scope.btnChange = "Processing";

            if ($scope.newpassword != $scope.confpassword) {
                $scope.message = "Password and confirm password do not match";
                $scope.failed = true;
                $scope.btnChange = "Change Password";
                return false;
            }

            var user = {
                oldPassword: $scope.oldpassword,
                newPassword: $scope.newpassword,
                confirmPassword: $scope.confpassword,
                email:$scope.email,
               
            };


            $http({
                method: 'POST',
                //url: 'http://localhost:1234/api/ChangePassword',
                url: 'http://localhost:57868/api/ChangePassword2',
                data: $.param(user),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                withCredentials: false,
            }).then(function successCallback(response) {
               // alert(response.data.responseCode);
                if (response.data.responseCode == "00") {
                    $scope.oldpassword = "";
                    $scope.newpassword = "";
                    $scope.confpassword = "";
                    $scope.success = true;
                    $scope.failed = false;
                    $scope.message = response.data.responseMessage;
                    $scope.btnChange = "Change Password";
                    
                } else {
                    $scope.success = false;
                    $scope.failed = true;
                    $scope.message = response.data.responseMessage;
                    $scope.btnChange = "Change Password";
                   
                }
               
                







            }, function errorCallback(response) {
                $scope.failed = true;
                    $scope.message = error.responseText;
                    loadBanks();
                    loadUsers();
            });




        }
    }])

</script>


