
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<style>
    li {
        list-style: none;
    }
</style>

    <div class="content-wrapper" style="margin:10px !important;" >
        <section class="content" >
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <!--<h6 class="card-title"><i class="fa fa-home"></i>&nbsp;Home Page</h6>-->
                    </div>
                    <div class="card-body">
                        <div class="col-xs-1 text-center">
                            <!--<h2><strong>TRANSACTION MONITORING SYSTEM</strong></h2>-->
                            <div class="row">
                                <div class="col-md-12" align="right" valign="top">
                                    <center><img src="~/Content/Image/tpms3.jpeg" height="290" width="580" /></center>
                                </div>
                                
                            </div>
                            @*<p><strong>&copy;IPSL @DateTime.Now.Year</strong></p>*@
                        </div>
                        </div>
                    <div class="card-footer"></div>
                    </div>
                </div>
            </section>
        </div>

