
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<div class="content-wrapper" style="margin:10px !important;">
    <section class="content">
        <div class="container-fluid" ng-app="ChangePassword" ng-controller="ChangePass">
            
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><strong>Change Password</strong></h6>
                </div>
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="failed">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Old Password</span>
                        
                        <input type="password" required class="form-control" ng-model="oldpassword" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">New Password</span>
                        <input type="password" required class="form-control" ng-model="newpassword" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Confirm Password</span>
                        <input type="password" required class="form-control" ng-model="confpassword" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <button class="btn btn-success" ng-click="ChangeMyPassword()">{{btnChange}}</button>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
</div>
<script src="~/Scripts/app/changePassword.js"></script>


