
@{
    ViewBag.Title = "Banks";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}




<div class="content-wrapper" style="margin:10px !important;">
    <section class="content">
        <div class="container-fluid" ng-app="Bank" ng-controller="BankData">
            
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="failed">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-cogs"></i> Manage Settings</h4>
                </div>
                <div class="card-body">
                    <div class="input-group" style="margin-bottom:10px !important">

                        <span class="input-group-text">Bank Name</span>

                        <input type="text" required name="bankName" disabled ng-model="bankName" class="form-control" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">

                        <span class="input-group-text">Bank Code</span>

                        <input type="text" required name="bankCode" disabled ng-model="bankCode" class="form-control" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">

                        <span class="input-group-text">Bank Alias</span>

                        <input type="text" required name="bankAlias" disabled ng-model="bankAlias" class="form-control" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Bank Sort Code</span>
                        <input type="text" required ng-model="sortCode" class="form-control" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Failure Threshold</span>
                        <input type="text" required ng-model="failureThreshold" class="form-control" />
                    </div>
                    <div class="input-group" style="margin-bottom:10px !important">
                        <span class="input-group-text">Volume Threshold</span>
                        <input type="text" required ng-model="volumeThreshold" class="form-control" />
                    </div>
                    <div class="input-group">
                        <button class="btn btn-success" ng-click="UpdateBank()">{{btnUpdate}}</button>
                    </div>
                </div>
            </div>




        </div>
    </section>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            
            </div>
            <div class="modal-body">
                <h3>
                    <center>
                        Please wait..<br />
                        <img src="~/Content/Image/ajax-loader.gif" height="30" width="30" alt="Loading" />
                    </center>
                </h3>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/settings.js"></script>
