<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EfficiencyReport.Properties.Settings.TransactionMonitoringConnectionString"
      connectionString="Data Source=LAPTOP-3H1USOC8\SQLEXPRESS;Initial Catalog=TransactionMonitoring;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>